/* color scheme sourced from http://khroma.co/generator/ */
:root {
  --aquamarine: #87f7df;
  --mulled-wine: #48416d;
  --gin: #e0eae4;
  --havelock-blue: #467372;
}

body {
  background-color: var(--gin);
  margin: auto;
  /*first font is a hand-writing font*/
  font-family: "Shadows Into Light", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body figure img {
  width: 100%;
}

header {
  background-color: var(--gin);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
}

h1 {
  background-color: var(--mulled-wine);
  color: var(--gin);
  padding: 20px;
  font-weight: bold;
  font-size: 40px;
}

h2 {
  /*Image caption*/
  font-size: 1.5rem;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--aquamarine);
  color: var(--mulled-wine);
}
h3 {
  font-size: 2.5rem;
  padding: 20px 10px 10px 10px;
  color: var(--mulled-wine);
}

h4 {
  /*title of subsections*/
  color: var(--mulled-wine);
  font-size: 2rem;
  line-height: 1.5;
}

h5 {
  /*subtitle of subsections*/
  color: var(--havelock-blue);
  line-height: 1.5;
  font-size: 1.25rem;
  cursor: pointer;
  text-decoration: underline;
  border-radius: 20px;
}

h5:hover {
  background-color: var(--gin);
}

main {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main article,
main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

ul li {
  padding: 5px 10px 5px 10px;
  /*border with thicker bottom part*/
  border: 2px solid var(--mulled-wine);
  border-bottom: 4px solid var(--mulled-wine);
  margin: 10px 20px 10px 20px;
  border-radius: 10px;
  min-width: 10%;
  max-width: 30%;
  transition: background-color 500ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: var(--mulled-wine);
  /*transition for hover*/
  transition: color 500ms ease;
  font-size: 20px;
}

ul li:hover {
  /*change of color for hover*/
  background-color: var(--mulled-wine);
  cursor: pointer;
}
ul li:hover > a {
  /*change font color for hover*/
  color: var(--gin);
}

figure {
  display: flex;
  justify-content: center;
  position: relative;
}

.top-pic {
  margin-bottom: 20px;
  object-fit: cover;
  position: relative;
}

.bio-pic {
  position: absolute;
  width: 30vw;
  height: auto;
  bottom: 60px;
  right: 10px;
  border-radius: 10000px;
}

.title {
  width: 100%;
  text-align: center;
  border-bottom: 10px solid var(--mulled-wine);
}

p {
  padding: 10px 30px;
  margin: 10px 20px;
  border: 10px solid var(--aquamarine);
  font-size: 30px;
  line-height: 1.5;
  color: var(--havelock-blue);
}

.project {
  /*Contains title and subtitle for respective projects*/
  position: absolute;
  padding: 15px 30px;
  border-radius: 0 250px 500px 0;
  left: 0px;
  top: 30px;
  background-color: var(--aquamarine);
  filter: grayscale(100%);
  opacity: 0;
  transition: filter 500ms ease, opacity 500ms ease;
}

#contact {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#contact ul {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#contact ul li {
  /*so that each button has the same width*/
  min-width: 35%;
  max-width: 100%;
}

.container {
  /*flexbox for all works*/
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 10px;
}

.work {
  padding: 10px;
  flex: 1 0 100%;
  display: flex;
  /*to ensure that cards on the same row have the same height*/
  flex-grow: 1;
  height: 400px;
}

.work img {
  /*to retain aspect ratio*/
  object-fit: cover;
  border: 10px solid var(--aquamarine);
  filter: grayscale(100%);
  opacity: 0.5;
  flex-grow: 1;
  transition: filter 500ms ease, opacity 500ms ease;
  cursor: pointer;
}

.work:hover img,
.work:hover .project {
  filter: none;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  /*for tablet*/
  .work {
    flex: 0 0 50%;
    max-width: 50%;
  }

  #first-child {
    flex: 0 0 100%;
    max-width: 100%;
  }

  a {
    font-size: 2.5vw;
  }
}

@media screen and (min-width: 992px) {
  /*realign for desktop*/
  main article,
  main section,
  main #contact {
    flex-direction: row;
    justify-content: space-around;
  }

  .title {
    /*resize for desktop*/
    width: 20%;
    border-bottom: none;
    border-right: 10px solid var(--mulled-wine);
    text-align: right;
    margin-top: 10px;
  }

  h1 {
    border-radius: 0 500px 250px 0;
  }

  h3 {
    /*change of style*/
    color: var(--gin);
    background-color: var(--mulled-wine);
    border-radius: 500px 0 0 250px;
    font-size: 2.25rem;
  }

  .bio,
  .container,
  #contact > ul {
    /*resize for desktop*/
    width: 80%;
  }

  header {
    /*realign for desktop*/
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    margin: 10px 0;
  }
}
